<%- include('./common/header')%>
<%- include('./common/navbar')%>

<div class="map_container">
  <div id="map"></div>
 </div>

 <script>
   $(document).ready(function(){
     console.log("hello");
    const mymap = L.map('map').setView([0, 0], 6);
  const attribution =
    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

  const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  const tiles = L.tileLayer(tileUrl, { attribution });
  tiles.addTo(mymap);

  // Making a marker with a custom icon

  let marker = L.marker([17.96, 79.59], { }).addTo(mymap);
  mymap.setView([17.96, 79.59], mymap.getZoom());


  async function getISS() {
    const latitude =[17.96,28.70,19.07,22.57]
    const longitude  = [79.59,77.10,72.88,88.36]
    document.getElementById('lat').value = latitude[0];
    document.getElementById('lon').value = longitude[0];
    var i = 1;

    $("#map").on('click',function(){
      
      console.log(i);
      mymap.setView([latitude[i], longitude[i]], mymap.getZoom());
      marker.setLatLng([latitude[i], longitude[i]]);
      

    document.getElementById('lat').value = latitude[i];
    document.getElementById('lon').value = longitude[i];
      i++;
      if(i==4)
        i=0;
    });
    // Always set the view to current lat lon and zoom!
    
  }

  getISS();
   })
  // Making a map and tiles
  // Setting a higher initial zoom to make effect more obvious
  
  // setInterval(getISS, 1000);
</script>
<form class="container mt-5" action="/mypost" enctype="multipart/form-data" method="POST">
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" name="name">
    </div>
  </div>
  <div class="row mb-3">
      <label for="inputEmail10" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-3">
        <input type="email" name="email" class="form-control" id="inputEmail10" placeholder="Email">
      </div>
      <label for="inputEmail11" class="col-sm-2 col-form-label text-center">Phone no.</label>
      <div class="col-sm-3">
        <input type="text" name="phone" class="form-control" id="inputEmail11" placeholder="Contact">
      </div>
  </div> 

  <div class="row mb-3">
      <label for="inputEmail5" class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail5" name="address">
      </div>
  </div>
  <div class="row mb-3">
      <label for="inputEmail6" class="col-sm-2 col-form-label">PIN</label>
      <div class="col-sm-3">
        <input type="number" class="form-control" id="inputEmail6" name="pin">
      </div>
      <label for="inputEmail7" class="col-sm-2 col-form-label text-center">Country</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="inputEmail7" name="country">
      </div>
  </div>
  <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Location</label>
      

      <div class="col-sm-3">
        <input type="text" class="form-control" id="lat" placeholder="Longitude" name="longi">
      </div>
      <div class="col-sm-3">
        <input type="text" class="form-control" id="lon" placeholder="Latitude" name="lati">
      </div>
    </div>
  <div class="row mb-3">
      <label for="inputEmail8" class="col-sm-2 col-form-label" >Type</label>
      <div class="col-sm-10">
          <select id="inputEmail8" class="form-select form-select-lg " name="type" aria-label=".form-select-lg example">
              <option selected>Open this select menu</option>
              <option value="1">PVT</option>
              <option value="2">GOVT</option>
            </select>
      </div>
  </div>


  <div class="row mb-3">
      <label for="inputEmail9" class="col-sm-2 col-form-label">Category</label>
      <div class="col-sm-10">
        <select id="inputEmail8" class="form-select form-select-lg " name="type" aria-label=".form-select-lg example">
          <option selected>Open this select menu</option>
          <option value="1">Restaurant
          </option>
          <option value="2">Railway</option>
          <option value="3">Educational</option>
          <option value="4">Medical</option>
          <option value="5">Bus</option>
          <option value="6">Hotel</option>
          <option value="7">Cinema</option>
          <option value="8">Others</option>
        </select>
      </div>
  </div>


  
  <div class="mb-3">
      <label for="formFileMultiple" class="form-label">Upload Files ( Legal docs, ID proof ) </label>
      <input type="file" class="form-control" name="Legal" multiple id="Legal">

  </div>

  <div class="mb-3">
      <label for="formFile" class="form-label">Upload Imgs</label>
      <input type="file" class="form-control" name="Pics" multiple id="Pics">
  </div>

  <button type="submit" class="btn btn-primary"> Register </button>
</form>

<%- include('./common/footer')%>